@font-face {
  font-family: "Inter";
  font-style: normal;
  src:
    url("./fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations"),
}

@font-face {
  font-family: "Inter";
  font-style: italic;
  src:
    url("./fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf") format("truetype-variations"),
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  src:
    url("./fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype-variations"),
}

@font-face {
  font-family: "Roboto Mono";
  font-style: italic;
  src:
    url("./fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype-variations"),
}

html,
body,
#app {
  @apply h-screen m-0 p-0 text-14;
  font-family: "Inter";
}

.error {
  @apply text-12 text-attention;
}

