body {
  @apply h-screen m-0 p-0 text-14 bg-orange-1;
  font-family: 'Inter';
}

.van-theme-dark body {
  @apply bg-gray-9 text-gray-5;
}

.van-padding {
  padding: var(--van-cell-vertical-padding) var(--van-cell-horizontal-padding);
}

.van-padding-x {
  padding-left: var(--van-cell-horizontal-padding);
  padding-right: var(--van-cell-horizontal-padding);
}

.van-padding-right {
  padding-right: var(--van-cell-horizontal-padding);
}

.van-padding-left,
.van-field__button {
  padding-left: var(--van-cell-horizontal-padding);
}

.van-margin-right {
  margin-right: var(--van-cell-horizontal-padding);
}

.van-margin-left {
  margin-left: var(--van-cell-horizontal-padding);
}
