.van-field__control {
  /* background-color: var(--van-gray-1); */
  padding-left: 6px;
  border: 1px solid var(--van-gray-4);
  border-radius: 4px;
}

.van-theme-dark .van-field__control {
  /* background-color: var(--van-gray-7); */
  border-color: var(--van-gray-7);
}

.van-field--disabled .van-field__control {
  background-color: var(--van-gray-1);
}

.van-theme-dark .van-field--disabled .van-field__control {
  color: var(--van-gray-7);
  background-color: var(--van-gray-8);
  /* background-color: var(--van-gray-7); */
}

.van-theme-dark .van-field--disabled .van-field__label {
  color: var(--van-gray-7);
  /* background-color: var(--van-gray-7); */
}

.van-field__value {
  min-width: 160px;
}

.van-field__short-value .van-field__value {
  min-width: 80px;
}


.van-cell-group--inset,
.van-cell,
.van-collapse-item__wrapper {
  overflow: unset;
}

.van-field__body .disabled,
.van-field__body [disabled]:not([disabled=false]) {
  opacity: 1 !important;
}
